*{
    margin: 0;
    padding: 0;
}

/* ---- Start Top-Navbar ----*/
.top-navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.social-link i .fa{margin-left: 10px !important;}
.social-link i .fa:hover{
    background-color: rgba(238,224,208);
    border-radius: 50px !important;
}  

/* ---- End Top-Navbar ----*/  